* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#modal.is-opened {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#modal.is-not-opened {
    display: none;
}

#new-reservation-form.is-opened {
    display: block;
    z-index: 1000;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    cursor: pointer;
    user-select: none;
}

#new-reservation-form.is-not-opened {
    display: none;
}

#background-overlay.is-opened {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#background-overlay.is-not-opened {
    display: none;
    z-index: 999;
    position: fixed;
}

.ag-header-cell-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    border: none;
    font-weight: bold;
}

.btn-edit {
    background-color: rgb(34, 85, 255);
}

.btn-delete {
    background-color: red;
}